html {
    height: 100%;
    font-size: 1rem;
    font-family: 'Exo', serif;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    
}

.grid-container {
    display: grid;
}

.flex-container {
    display: flex;   
}
.main {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px 5fr;
    height: 100%;
}

/* header */

header {
    grid-row: 1/2;
    grid-column: 1/-1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 245, 232);
    box-shadow: 0 5px 5px lightgray;
}

.logo {
    align-items: center;
    cursor: pointer;
}

.logo i {
    margin: 1.5rem;
    font-size: 3rem;
}

.logo h1 {
    font-size: 1.8rem;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.search-bar > input {
    height: 28px;
    width: 90%;
    min-width: 400px;
    margin: 1rem;
    background-color: aliceblue;
    border-radius: 20px;
    border: solid 1px rgb(170, 170, 170);
    padding: 0.2rem 2rem;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    color: gray;
}

.search-bar > input:hover {
    height: 32px;
    margin: 0.5rem;
    transition: 150ms;
}

.search-bar > input:focus {
    text-align: left;
    color: black;
    height: 32px;
    margin: 0.5rem;
    cursor:auto;
}

.search-bar > button {
    height: 48px;
    width: 48px;
    font-size: 1.5rem;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-bar > button:hover {
   font-size: 1.8rem;
   transition: 180ms;
}

.profile {
    align-items: center;
}

.notification-bell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    margin: 0 2rem;
}

.notification-bell:hover {
    position: relative;
    bottom: 5px;
    cursor: pointer;
    transition: 1s;
}

.profile i {
    font-size: 1.5rem;
    cursor: pointer;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.profile img {
    width: 48px;
    margin: 1rem;
    border-radius: 50%;
    border: solid 2px lightgray;
}

.user h2 {
    font-size: 1.2rem;
}

/* filters */

.filters {
    grid-column: 1/2;
    grid-row: 2/-1;
    background-color:rgb(226, 189, 189);
    height: auto;
    padding: 4rem;
    flex-direction: column;
}

.filters h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.filters label {
    font-size: 1.1rem;
    margin-left: 2rem;
}

.filters button {
    margin-top: 4rem;
    width: 95%;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(255, 245, 232);
}

.filters button:hover {
    cursor: pointer;
    background-color: bisque;
}

/* books */

.book-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
    margin: 2rem;
    grid-auto-rows: 400px;
}

.book {
    background-color: rgb(233, 216, 172);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book:hover {
    position: relative;
    top: -0.8rem;   
    box-shadow: -5px 10px 10px rgb(128, 128, 128);
    transition: 180ms;
}


.book > img {
    height: 80%;
    width: 80%;
    margin: 1.8rem 1.8rem auto 1.8rem;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.book h3 {
    font-size: 1rem;
    text-align: center;
    margin: 0 0.5rem 1rem 0.5rem;
    font-weight: 600;
    cursor: pointer;
}

.add-container {
    height: 80%;
    width: 80%;
    margin: 1.8rem 1.8rem auto 1.8rem;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#circle {
    background-color: lightgray;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-container i {
    font-size: 3rem;
    color: whitesmoke;
}

.addModal {
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: 700;
    border: 1px solid rgb(128, 128, 128);
    padding: 3rem;
}

.addModal label {
    display: block;
}

.addModal input {
    display: block;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 90%;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font-size: 1.1rem;
    background-color: aliceblue;
}

.addModal select {
    font-size: 1.3rem;
    height: 2rem;
    width: 95%;
    margin: 0 0 1rem 0;
    background-color: aliceblue;
    border-radius: 5px;
}

.addModal button {
    margin: 1rem auto;
    height: 2rem;
    width: 10rem;
    background-color:  rgb(233, 216, 172);
    border-radius: 5px;
    font-size: 1.2rem;
    border: 1px solid rgb(128, 128, 128);
    cursor: pointer;
}

.bookModal {
    height: fit-content;
    width: 400px;
    border-radius: 20px;
    background-color: rgb(255, 245, 232);
    border: 1px solid gray;
}

.bookModal img {
    height: 50%;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 0rem;
    position: relative;
    left: 2.4rem;
    object-fit: cover;
    border-radius: 20px;
}

.bookModal .info {
    margin: 1rem;
}

.bookModal span {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 1rem 0 1rem 2rem;
}

.bookModal p:nth-of-type(1) {
    margin-top: 2rem;
}

#divStatus p {
    margin-top: 0;
}

#divStatus button {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
    width: 10rem;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    cursor: pointer;
    background-color:  rgb(233, 216, 172);
    font-size: 1.2rem;
}

